AGETENWP DTE.json
{
  "name": "AGETENWP DTE",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "679184f0-05de-4148-a368-238a29f3edf9",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -26272,
        2480
      ],
      "id": "265a6112-d678-48bc-9da5-c5aedbb5a1fe",
      "name": "Webhook",
      "webhookId": "679184f0-05de-4148-a368-238a29f3edf9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fff6f8c-432c-457e-ba92-fbf6292f8cd6",
              "name": "phone",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "4a8242c1-cdb0-47e1-b117-060aa7047646",
              "name": "mensaje",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "690d97df-41c0-4ea9-8614-7370e1cd846d",
              "name": "type",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].type }}",
              "type": "string"
            },
            {
              "id": "1b4dd6d5-14f0-4f82-8cc6-c7a6b5780cc7",
              "name": "nombre",
              "value": "={{ $json.body.entry[0].changes[0].value.contacts[0].profile.name }}",
              "type": "string"
            },
            {
              "id": "bbc5446a-0780-46d0-82b3-6ce70da44bb2",
              "name": "categoru",
              "value": "={{ $json.body.entry[0].changes[0].value.statuses[0].pricing.category }}",
              "type": "string"
            },
            {
              "id": "8e6cad8c-d607-4ed1-bc54-2e19ea632591",
              "name": "time",
              "value": "={{ $json.body.entry[0].changes[0].value.messages[0].timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -26064,
        2480
      ],
      "id": "eed9c845-e721-4207-9f83-9f439b59558f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "34RuvBpKQDapycxZnrDJ",
          "mode": "list",
          "cachedResultName": "Matias Rella "
        },
        "text": "={{ $json.output }}",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        -16480,
        48
      ],
      "id": "e3d3af7b-8ecb-4223-a718-fbb32c220545",
      "name": "Convert text to speech",
      "executeOnce": false,
      "retryOnFail": true,
      "alwaysOutputData": false,
      "maxTries": 2,
      "credentials": {
        "elevenLabsApi": {
          "id": "lGNN5SBuaiAzY8lf",
          "name": "ElevenLabs account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dte-chatwoot-dte.xqnwvv.easypanel.host/api/v1/accounts/{{ $('data_message_extraction').first().json.body.account.id }}/conversations/{{ $('data_message_extraction').first().json.body.conversation.id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16016,
        160
      ],
      "id": "4cc59a48-bf49-46ea-9ce7-0c8c41f3b5f4",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mXOwshTteT9wDspZ",
          "name": "Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.grupodte.com/api/whatsapp-send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $('Edit Fields1').item.json.phone }}\",\n  \"text\": \"{{ $('Loop Over Items2').item.json.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -17136,
        2992
      ],
      "id": "335f44bc-a7f0-416c-a75c-4c663642ca23",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Contexto de identidad:\n- is_client: {{ $('Es cliente2').item.json.client }}\n- sessionid: {{ $('Unified M2').item.json.sessionid }}\n\nMemoria previa (Zep):\n{{ $json.factsText }}\n\nMensaje del usuario:\n{{ $('Unified M2').item.json.contact_message }}\n\nFecha y hora actual:\n{{ $now }}\n\nInstrucción final:\nTratalo como lead nuevo.\nSi es primer contacto, hacé onboarding progresivo en 2–3 mensajes.\nSi ya hay contexto, retomá desde ahí.\nGuiá la conversación y avanzá un paso lógico.\nRespondé como una persona real por WhatsApp.\n",
        "options": {
          "systemMessage": "=Sos “Luna”, el asistente oficial de Grupo DTE por WhatsApp.\n\nEl usuario NO es cliente registrado (is_client = false).\n\nTu rol es convertir este contacto en una conversación clara, humana y útil.\nNo vendés agresivamente. Guiás, ordenás y abrís la puerta correcta.\n\n━━━━━━━━━━━━━━━━━━━━\nOBJETIVO PRINCIPAL\n━━━━━━━━━━━━━━━━━━━━\nTransformar un contacto nuevo en:\n- una conversación entendible\n- un lead calificado\n- o una reunión bien contextualizada\n\n━━━━━━━━━━━━━━━━━━━━\nCÓMO ACTUAR SEGÚN EL CONTEXTO\n━━━━━━━━━━━━━━━━━━━━\n\nPRIMER CONTACTO (OBLIGATORIO)\nSi “Memoria (Zep)” está vacía o dice “Sin hechos relevantes”:\n\nHacé onboarding en 2–3 mensajes CORTOS y NATURALES.\nNo todo en uno. No robótico.\n\nMensaje 1:\n- Saludo cálido\n- Bienvenida a Grupo DTE\n- Preguntá nombre (si no está) y qué está buscando en 1 frase\n\nMensaje 2:\n- Explicá qué es Grupo DTE\n- Qué hacemos (máx. 3 servicios claros)\n- Cómo trabajamos (diagnóstico → plan → ejecución)\n\nMensaje 3:\n- Invitá a registrarse en la plataforma www.grupodte.com\n- Preguntá cuál es su objetivo principal hoy\n\n━━━━━━━━━━━━━━━━━━━━\nSI NO ES PRIMER CONTACTO\n━━━━━━━━━━━━━━━━━━━━\nSi “Memoria (Zep)” trae contexto previo:\n- NO repitas onboarding completo\n- Saludá breve\n- Retomá desde lo que ya sabés\n- Avanzá un paso más\n\n━━━━━━━━━━━━━━━━━━━━\nCALIFICACIÓN (SIN SER PESADO)\n━━━━━━━━━━━━━━━━━━━━\nSi el lead pide ayuda o muestra interés real, intentá obtener\nMÁXIMO 3 datos en UN solo mensaje:\n\n- Qué vende / rubro\n- Objetivo principal (ventas, leads, web, automatización, etc.)\n- Link (web o Instagram) o país/ciudad si aplica\n\nNo interrogues. Todo junto y natural.\n\n━━━━━━━━━━━━━━━━━━━━\nCUÁNDO PROPONER REUNIÓN\n━━━━━━━━━━━━━━━━━━━━\nProponé reunión SOLO si:\n- el lead lo pide explícitamente\n- o el tema necesita charla para avanzar\n\nNunca fuerces una llamada en el primer mensaje.\n\n━━━━━━━━━━━━━━━━━━━━\nTOOLS (AGENDA + LEAD)\n━━━━━━━━━━━━━━━━━━━━\nSi el lead dice “reunión”, “llamada”, “coordinar”, “meet”:\n\n1) Pedí email + rango horario (o 2–3 opciones)\n2) Guardá el lead (guardar_lead_google_sheets)\n3) Consultá disponibilidad (consultar_disponibilidad)\n4) Creá la cita (crear_cita)\n5) Confirmá día, hora y objetivo de la llamada\n\n━━━━━━━━━━━━━━━━━━━━\nREGLAS DE ORO\n━━━━━━━━━━━━━━━━━━━━\n- No inventes precios ni promesas.\n- No sobreexpliqués DTE.\n- No suenes corporativo.\n- Pensá “persona real por WhatsApp”.\n\n━━━━━━━━━━━━━━━━━━━━\nTONO Y FORMATO\n━━━━━━━━━━━━━━━━━━━━\n- Cercano\n- Humano\n- Rioplatense\n- Mensajes cortos\n- Cero chamuyo\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -19584,
        3408
      ],
      "id": "428cb851-44c3-4612-8cf8-cb1739b0e1d2",
      "name": "AGENTEAI1",
      "retryOnFail": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "jsCode": "// items[0].json.message suele ser un array con strings JSON\nconst raw = items[0].json.message ?? [];\n\n// Parsea cada string JSON de Redis y extrae el campo \"message\"\nconst parts = raw\n  .map((s) => {\n    try {\n      const obj = typeof s === \"string\" ? JSON.parse(s) : s;\n      return (obj?.message ?? \"\").toString().trim();\n    } catch (e) {\n      // Si no es JSON válido, igual lo usamos como texto\n      return (s ?? \"\").toString().trim();\n    }\n  })\n  .filter(Boolean);\n\n// Une los mensajes con salto de línea doble (cambiá el separador si querés)\nconst contact_message = parts.join(\"\\n\\n\");\n\n// También podés quedarte con el sessionid del primero que aparezca\nlet sessionid = \"\";\nfor (const s of raw) {\n  try {\n    const obj = typeof s === \"string\" ? JSON.parse(s) : s;\n    if (obj?.sessionid) {\n      sessionid = String(obj.sessionid);\n      break;\n    }\n  } catch {}\n}\n\nreturn [\n  {\n    json: {\n      contact_message,\n      sessionid,\n      // opcional: para debug\n      message_parts: parts,\n      message_count: parts.length,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20912,
        3456
      ],
      "id": "02676f59-774f-4143-b595-ed2f5d24bb66",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dte-chatwoot-dte.xqnwvv.easypanel.host/api/v1/accounts/{{ $('data_message_extraction').first().json.body.account.id }}/conversations/{{ $('data_message_extraction').first().json.body.conversation.id }}/messages\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content",
              "value": "Audio"
            },
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16048,
        -16
      ],
      "id": "a0a89448-f369-4150-bb36-1c25e8056af5",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mXOwshTteT9wDspZ",
          "name": "Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26c94a88-8f1b-4dc1-9716-2b51ccd7a6cd",
              "name": "client",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -24080,
        3568
      ],
      "id": "51e5f827-96ad-4184-b521-aa9517888879",
      "name": "Es cliente2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "projects",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "client_id",
              "condition": "eq",
              "keyValue": "={{ $('Get many rows').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -23728,
        3552
      ],
      "id": "8285b7af-e152-4f69-9f42-23f2bd48be47",
      "name": "Get many rows2",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "jEVTh99BpZYfL1SM",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "toolDescription": "Guarda la información calificada del cliente en la planilla.",
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1dMHwLm3s6tRzGelbS86IorNwHzlBUDhWmcqkRdJ1iuM/values/Hoja 1!A:H:append?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"values\": [\n    [\n      \"{{ $fromAI('nombre', 'Nombre completo del lead') }}\",\n      \"{{ $('data_message_extraction').item.json.message.sender_phone }}\",\n      \"{{ $fromAI('vende', 'Qué vende y su ticket promedio') }}\",\n      \"{{ $fromAI('objetivo', 'Qué quiere lograr con DTE') }}\",\n      \"{{ $fromAI('dolor', 'Principal problema que lo frena') }}\",\n      \"{{ $fromAI('inversion', 'Rango de inversión mensual') }}\",\n      \"{{ $fromAI('links', 'Enlace a Instagram o Web con https://') }}\",\n      \"{{ $now.setZone('America/Montevideo').format('YYYY-MM-DD HH:mm') }}\",\n      \"{{ $fromAI('email', 'Correo electrónico del cliente para la invitación formal') }}\"\n    ]\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -19296,
        3680
      ],
      "id": "4b5c985d-5455-4a0f-9262-ca4b0d50aa31",
      "name": "guardar_lead_google_sheets2",
      "credentials": {
        "googleApi": {
          "id": "0Rqw8s4TanzH70JK",
          "name": "Google Service Account account"
        },
        "googleSheetsOAuth2Api": {
          "id": "igQv87tRTu9gSdFe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Consulta la agenda para ver si hay eventos en un rango de tiempo específico. Devuelve una lista de eventos. Si la lista está vacía, el horario está libre",
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/freeBusy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"timeMin\": \"{{ $fromAI('fecha_inicio', 'ISO8601 string') }}\",\n  \"timeMax\": \"{{ $fromAI('fecha_fin', 'ISO8601 string') }}\",\n  \"items\": [{\"id\": \"primary\"}]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -19712,
        3760
      ],
      "id": "6b83bb0f-06fc-42de-86be-10a5db7fb119",
      "name": "consultar_disponibilidad2",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "O6OaQTQVkQJ8JKwF",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Crea la cita en Google Calendar y genera el enlace de Meet",
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events?conferenceDataVersion=1&sendUpdates=all",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"summary\": \"Sesión DTE: {{ $fromAI('nombre', 'Nombre completo del lead') }}\",\n  \"location\": \"Virtual / Google Meet\",\n  \"description\": \"DETALLE DEL NEGOCIO:\\n- Producto: {{ $fromAI('vende', 'Qué vende y su ticket promedio') }}\\n- Objetivo: {{ $fromAI('objetivo', 'Qué quiere lograr con DTE') }}\\n- Dolor: {{ $fromAI('dolor', 'Principal problema que lo frena') }}\\n- Contacto:{{ $('Edit Fields1').item.json.phone }}\",\n  \"start\": {\n    \"dateTime\": \"{{ $fromAI('inicio', 'Fecha y hora de inicio en formato ISO8601') }}\",\n    \"timeZone\": \"America/Montevideo\"\n  },\n  \"end\": {\n    \"dateTime\": \"{{ $fromAI('fin', 'Fecha y hora de fin en formato ISO8601') }}\",\n    \"timeZone\": \"America/Montevideo\"\n  },\n  \"attendees\": [\n    { \"email\": \"{{ $fromAI('email', 'Correo electrónico del cliente para la invitación formal') }}\" }\n  ],\n  \"conferenceData\": {\n    \"createRequest\": {\n      \"requestId\": \"{{ Math.random().toString(36).substring(7) }}\",\n      \"conferenceSolutionKey\": { \"type\": \"hangoutsMeet\" }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -19504,
        3696
      ],
      "id": "573f7f15-2bd3-4a13-8b34-fc47d790f556",
      "name": "crear_cita2",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "O6OaQTQVkQJ8JKwF",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "34RuvBpKQDapycxZnrDJ",
          "mode": "list",
          "cachedResultName": "Matias Rella "
        },
        "text": "={{ $json.output }}",
        "additionalOptions": {},
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        -18096,
        2512
      ],
      "id": "62c31841-afe0-47cf-b55d-2e5b66da2fc7",
      "name": "Convert text to speech2",
      "executeOnce": false,
      "retryOnFail": true,
      "alwaysOutputData": false,
      "maxTries": 2,
      "credentials": {
        "elevenLabsApi": {
          "id": "lGNN5SBuaiAzY8lf",
          "name": "ElevenLabs account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dte-chatwoot-dte.xqnwvv.easypanel.host/api/v1/accounts/{{ $('data_message_extraction').first().json.body.account.id }}/conversations/{{ $('data_message_extraction').first().json.body.conversation.id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.output }}"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -17632,
        2624
      ],
      "id": "5c6bb5c1-de90-4d93-b26f-081000046b2b",
      "name": "HTTP Request5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mXOwshTteT9wDspZ",
          "name": "Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://dte-chatwoot-dte.xqnwvv.easypanel.host/api/v1/accounts/{{ $('data_message_extraction').first().json.body.account.id }}/conversations/{{ $('data_message_extraction').first().json.body.conversation.id }}/messages\n",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "name": "private",
              "value": "false"
            },
            {
              "name": "content",
              "value": "Audio"
            },
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -17664,
        2448
      ],
      "id": "c33c170b-5d37-45f6-9e6c-b54efab3a7b5",
      "name": "HTTP Request4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "mXOwshTteT9wDspZ",
          "name": "Chatwoot"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cZfj951LSb98Izny",
          "mode": "list",
          "cachedResultUrl": "/workflow/cZfj951LSb98Izny",
          "cachedResultName": "My workflow 3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Edit Fields1').item.json.phone }}",
            "user_name": "={{ $('Edit Fields1').item.json.nombre }}",
            "user_id": "={{ $('Edit Fields1').item.json.phone }}",
            "query": "={{ $('Unified M2').item.json.contact_message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_name",
              "displayName": "user_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -20128,
        3136
      ],
      "id": "ae0a4cb7-068c-4f29-b196-4e24351fc010",
      "name": "Call 'My workflow 3'2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Unified M2').item.json.sessionid }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -19664,
        3120
      ],
      "id": "49066d93-3ec7-4520-ac86-8e7205a7a847",
      "name": "Postgres Chat Memory2",
      "credentials": {
        "postgres": {
          "id": "l7PC5KDYAVZDrVq7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "la imagen es un comprobante de una transaccion realizada, necesito que tomes los datos importantes para verificar la transaccion y que el agente ai agrege correctamente el comprobante al registrar la transaccion",
        "imageUrls": "={{ $('data_message_extraction').item.json.img }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -22896,
        3648
      ],
      "id": "f2f5d256-270b-4449-8f77-5e0cfd971d05",
      "name": "Analyze image2",
      "credentials": {
        "openAiApi": {
          "id": "t70Rh7c42YOwgYM5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"description\": \"Array of split messages in natural conversation format\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"minItems\": 1\n    }\n  },\n  \"required\": [\"messages\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -18368,
        2880
      ],
      "id": "c38d4f24-5951-4ab5-836a-a279d6168b92",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "773235c7-6aa4-4a4b-b096-8548a7076762",
              "name": "contact_message",
              "value": "={{ $json.contact_message }}\n",
              "type": "string"
            },
            {
              "id": "9b4052bd-38c1-4a79-abdd-e690c30e8ce9",
              "name": "sessionid",
              "value": "={{ $('Edit Fields1').item.json.phone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20512,
        3472
      ],
      "id": "a11259f3-8b92-4044-ab85-9576781f67c4",
      "name": "Unified M2"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.all();\nlet factsText = '';\n\nfor (const item of inputData) {\n  try {\n    const parsedData = JSON.parse(item.json.data);\n    const facts = parsedData.edges.map(edge => edge.fact);\n    const formattedFacts = facts\n      .map((fact, index) => `Fact${index + 1}: ${fact}`)\n      .join('\\n');\n    factsText += formattedFacts + '\\n\\n';\n  } catch (error) {\n    console.error('Error procesando facts:', error);\n    continue;\n  }\n}\n\nreturn [\n  {\n    json: {\n      factsText: factsText.trim() || 'Sin hechos relevantes'\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -19984,
        3440
      ],
      "id": "46ac40a5-051e-475b-9c70-a1a8c0a6f012",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.getzep.com/api/v2/graph/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zepApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ String($('Unified M2').item.json.contact_message ?? '').trim() }}\",\n  \"user_id\": \"{{ String($('Unified M2').item.json.sessionid ?? '') }}\",\n  \"limit\": 10,\n  \"min_fact_rating\": 0.7,\n  \"reranker\": \"cross_encoder\",\n  \"scope\": \"edges\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -20128,
        3440
      ],
      "id": "506b9002-466c-476a-ad88-07379971e190",
      "name": "buscar dato2",
      "executeOnce": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "tvCT1Y14EBhzLLlE",
          "name": "Header Auth account 2"
        },
        "zepApi": {
          "id": "yyVFvca9fUbn7UwO",
          "name": "Zep Api account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.getzep.com/api/v2/users",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zepApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $json.sessionid }}"
            },
            {
              "name": "first_name",
              "value": "={{ $('Edit Fields1').item.json.nombre }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -20304,
        3440
      ],
      "id": "c71ca394-c8cd-4a0f-8f31-4bb80ad951cb",
      "name": "crear usuario2",
      "executeOnce": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "tvCT1Y14EBhzLLlE",
          "name": "Header Auth account 2"
        },
        "zepApi": {
          "id": "yyVFvca9fUbn7UwO",
          "name": "Zep Api account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -19520,
        3104
      ],
      "id": "e0d12bcd-d45e-4bec-9f3e-48e7729e177a",
      "name": "Think2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -17856,
        2960
      ],
      "id": "103cbfd6-3005-498a-a20f-08c6b64b509a",
      "name": "Wait5",
      "webhookId": "a8386d12-e4ef-4764-a2a2-e56f7b273573"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -17664,
        2944
      ],
      "id": "88d2605c-a831-4a14-9b30-53f7c4120325",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst result = [];\n\nitems.forEach(item => {\n  const output = item.json?.output || item.json || {};\n  \n  // Nuevo formato: array de mensajes\n  if (output.messages && Array.isArray(output.messages)) {\n    output.messages.forEach(message => {\n      result.push({\n        json: {\n          message: message\n        }\n      });\n    });\n  }\n  // Fallback: formato viejo por si acaso\n  else {\n    let i = 1;\n    while (output[`message${i}`]) {\n      result.push({\n        json: {\n          message: output[`message${i}`]\n        }\n      });\n      i++;\n    }\n  }\n});\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -18144,
        3120
      ],
      "id": "e9f44fa4-2582-4b89-bef1-f93996c0b9d8",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -18480,
        2880
      ],
      "id": "2110b2fd-836f-4ed2-bd2a-c4d90c75788a",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "t70Rh7c42YOwgYM5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Message to split: {{ $json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "Resumi y reescribí y dividí el siguiente mensaje largo de WhatsApp en 2 o 3 mensajes naturales, cancheros tal como lo haría una persona real en una conversación fluida.\n\nInstrucciones:\n\nMantené el tono cálido, cercano y humano de Luna.\n\nEvitá cualquier formato técnico, etiquetas o numeraciones como \"parte 1/2\".\n\nLa división debe sentirse orgánica, con pausas naturales entre ideas.\n\nPodés generar tantos mensajes como necesites para que la conversación suene auténtica.\n\nTexto original:\n{{ $json.output }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -18528,
        3040
      ],
      "id": "23dcf3c3-39e2-40d9-97c7-845998841f51",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ade27a63-7e0e-4e6b-8bb4-88eb5d67dad8",
              "leftValue": "={{ $json.output.length }}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -18944,
        3008
      ],
      "id": "a343cd69-98c7-4f8f-8ca3-69673e6d61d5",
      "name": "If4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bc04d7a6-8169-4a81-befc-55e22f1c8d2f",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "b98a5d95-8f8a-4dea-80a4-916846a0c532",
              "name": "sessionid",
              "value": "={{ $json.sessionid || $('data_message_extraction').item.json.sessionid }}",
              "type": "string"
            },
            {
              "id": "17caa545-9221-42d7-acdb-13c761942210",
              "name": "tipo_mensaje",
              "value": "={{ $json.tipo_mensaje || $('data_message_extraction').item.json.tipo_mensaje }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -22592,
        3456
      ],
      "id": "3433d2d2-9741-4693-8129-ec419ab4267d",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aefd46d4-200e-44ca-96c8-d502b0d22548",
              "name": "final_message",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -22000,
        3456
      ],
      "id": "614eca13-78e1-4c3e-b0e2-2ffb8bdccded",
      "name": "Unify Message2"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.conversation.messages[0].attachments[0].data_url }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -22896,
        3456
      ],
      "id": "044edc35-6e2e-4057-bb20-754f9f05d505",
      "name": "Descargar audio2"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -22736,
        3456
      ],
      "id": "9aeb70a7-d804-4a3c-981e-9023ccdecffc",
      "name": "Transcribe a recording2",
      "credentials": {
        "openAiApi": {
          "id": "t70Rh7c42YOwgYM5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e1f5aa2c-d785-4f74-a6b4-0e1825c504c0",
                    "leftValue": "={{ $('If1').item.json.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f419b6c9-fe67-4311-b6e7-0825ae81153f",
                    "leftValue": "={{ $('If1').item.json.type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -23216,
        3440
      ],
      "id": "95020031-e9ca-4893-865e-46554361db37",
      "name": "Switch5"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f3394a09-7978-4e0f-ba2e-14aae703fd43",
                    "leftValue": "={{ new Date(Number($('Edit Fields1').item.json.time) * 1000) }}\n",
                    "rightValue": "={{ new Date(Date.now() - 15000) }}\n",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Seguir"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Esperar"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -21424,
        3456
      ],
      "id": "9d9fdbce-2fc5-4a5d-8df4-3bc597923068",
      "name": "Switch4"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -21120,
        3456
      ],
      "id": "8c007384-35a1-4dc6-bfcb-80111a0c3a4e",
      "name": "Redis5",
      "credentials": {
        "redis": {
          "id": "oysREHyfI9MO32y8",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -19504,
        3296
      ],
      "id": "81e93149-48e0-4f0f-a2e9-41e9a075b78f",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "t70Rh7c42YOwgYM5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('Edit Fields1').item.json.phone }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -21600,
        3456
      ],
      "id": "e9d020aa-9cba-4e45-a807-cd72d6a54044",
      "name": "Redis4",
      "credentials": {
        "redis": {
          "id": "oysREHyfI9MO32y8",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Edit Fields1').item.json.phone }}",
        "messageData": "={{ JSON.stringify({\n  message: $('Edit Fields1').item.json.mensaje,\n  sessionid: $('Edit Fields1').item.json.phone,\n  session_id: $('Edit Fields1').item.json.phone,\n  datatime: $('Edit Fields1').item.json.time,\n  datetime_utc_minus_3: DateTime.fromSeconds(Number($('Edit Fields1').item.json.time), { zone: 'utc' }).setZone('America/Montevideo').toISO()\n}) }}\n",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -21792,
        3456
      ],
      "id": "dd6cb564-0c84-4e26-ba6a-7d388ad0e04d",
      "name": "push buffer2",
      "credentials": {
        "redis": {
          "id": "oysREHyfI9MO32y8",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -21232,
        3584
      ],
      "id": "7346490e-28aa-4f76-8312-a9f4dabc04ab",
      "name": "Wait4",
      "webhookId": "e2e9ddda-bfbe-46ea-b379-7451a6aaa71b"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.grupodte.com/api/whatsapp-send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $('Edit Fields1').item.json.phone }}\",\n  \"text\": \"{{ $('Loop Over Items').item.json.message }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -15488,
        576
      ],
      "id": "435d585c-fad0-467e-9ae5-2b51333b1e9c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2b6ebca9-c271-4f62-9ed2-cf31240b97f2",
              "leftValue": "={{ $json.categoru }}",
              "rightValue": "service",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -25456,
        2592
      ],
      "id": "8a85ae7a-699f-4d9a-8cdd-ef0a793ea937",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26c94a88-8f1b-4dc1-9716-2b51ccd7a6cd",
              "name": "client",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -24336,
        1104
      ],
      "id": "75c0824c-cf84-4ab7-b214-55bbde29ea30",
      "name": "Es cliente"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "projects",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "client_id",
              "condition": "eq",
              "keyValue": "={{ $('Get many rows').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -23984,
        1088
      ],
      "id": "4aaf390a-b609-43a8-be5d-11516cf08388",
      "name": "Get many rows1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "jEVTh99BpZYfL1SM",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "20235143-6cb2-4b20-9bc1-6f8d9ed48395",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -24448,
        2528
      ],
      "id": "fc47338f-ee57-4bb5-b975-552263dc17ca",
      "name": "If",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "clients",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $('Edit Fields1').item.json.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -24784,
        2480
      ],
      "id": "b8fbb601-6671-4bc2-86fa-af30e84b5b8d",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "retryOnFail": false,
      "credentials": {
        "supabaseApi": {
          "id": "jEVTh99BpZYfL1SM",
          "name": "Supabase account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "toolDescription": "Guarda la información calificada del cliente en la planilla.",
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1dMHwLm3s6tRzGelbS86IorNwHzlBUDhWmcqkRdJ1iuM/values/Hoja 1!A:H:append?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"values\": [\n    [\n      \"{{ $fromAI('nombre', 'Nombre completo del lead') }}\",\n      \"{{ $('data_message_extraction').item.json.message.sender_phone }}\",\n      \"{{ $fromAI('vende', 'Qué vende y su ticket promedio') }}\",\n      \"{{ $fromAI('objetivo', 'Qué quiere lograr con DTE') }}\",\n      \"{{ $fromAI('dolor', 'Principal problema que lo frena') }}\",\n      \"{{ $fromAI('inversion', 'Rango de inversión mensual') }}\",\n      \"{{ $fromAI('links', 'Enlace a Instagram o Web con https://') }}\",\n      \"{{ $now.setZone('America/Montevideo').format('YYYY-MM-DD HH:mm') }}\",\n      \"{{ $fromAI('email', 'Correo electrónico del cliente para la invitación formal') }}\"\n    ]\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -17680,
        1216
      ],
      "id": "28897064-2301-4f4a-bffb-502757c4e2ff",
      "name": "guardar_lead_google_sheets",
      "credentials": {
        "googleApi": {
          "id": "0Rqw8s4TanzH70JK",
          "name": "Google Service Account account"
        },
        "googleSheetsOAuth2Api": {
          "id": "igQv87tRTu9gSdFe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Consulta la agenda para ver si hay eventos en un rango de tiempo específico. Devuelve una lista de eventos. Si la lista está vacía, el horario está libre",
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/freeBusy",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"timeMin\": \"{{ $fromAI('fecha_inicio', 'ISO8601 string') }}\",\n  \"timeMax\": \"{{ $fromAI('fecha_fin', 'ISO8601 string') }}\",\n  \"items\": [{\"id\": \"primary\"}]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -18096,
        1296
      ],
      "id": "f9c048d1-5eae-40d3-9eb1-c5eeaa1e3d3e",
      "name": "consultar_disponibilidad",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "O6OaQTQVkQJ8JKwF",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Crea la cita en Google Calendar y genera el enlace de Meet",
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events?conferenceDataVersion=1&sendUpdates=all",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"summary\": \"Sesión DTE: {{ $fromAI('nombre', 'Nombre completo del lead') }}\",\n  \"location\": \"Virtual / Google Meet\",\n  \"description\": \"DETALLE DEL NEGOCIO:\\n- Producto: {{ $fromAI('vende', 'Qué vende y su ticket promedio') }}\\n- Objetivo: {{ $fromAI('objetivo', 'Qué quiere lograr con DTE') }}\\n- Dolor: {{ $fromAI('dolor', 'Principal problema que lo frena') }}\\n- Contacto:{{ $('Edit Fields1').item.json.phone }}\",\n  \"start\": {\n    \"dateTime\": \"{{ $fromAI('inicio', 'Fecha y hora de inicio en formato ISO8601') }}\",\n    \"timeZone\": \"America/Montevideo\"\n  },\n  \"end\": {\n    \"dateTime\": \"{{ $fromAI('fin', 'Fecha y hora de fin en formato ISO8601') }}\",\n    \"timeZone\": \"America/Montevideo\"\n  },\n  \"attendees\": [\n    { \"email\": \"{{ $fromAI('email', 'Correo electrónico del cliente para la invitación formal') }}\" }\n  ],\n  \"conferenceData\": {\n    \"createRequest\": {\n      \"requestId\": \"{{ Math.random().toString(36).substring(7) }}\",\n      \"conferenceSolutionKey\": { \"type\": \"hangoutsMeet\" }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -17888,
        1232
      ],
      "id": "be779fb7-f3fb-4487-92c0-92a394814c2e",
      "name": "crear_cita",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "O6OaQTQVkQJ8JKwF",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Contexto de identidad:\n- is_client: {{ $('Es cliente').item.json.client }}\n- sessionid: {{ $('Unified M').item.json.sessionid }}\n\nCliente:\n- Nombre: {{ $('Get many rows').item.json.full_name }}\n- Empresa: {{ $('Get many rows').item.json.company_name }}\n- client_id: {{ $('Get many rows').item.json.id }}\n\nProyectos asociados (si existen):\n{{ JSON.stringify($json.projects ?? [], null, 2) }}\n\nMemoria relevante (Zep):\n{{ $json.factsText }}\n\nMensaje del cliente:\n{{ $('Unified M').item.json.contact_message }}\n\nFecha y hora actual:\n{{ $now }}\n\nInstrucción final:\nRespondé como consultora senior de Grupo DTE.\nAyudá, ordená y proponé el próximo paso más lógico.\nRespondé por WhatsApp salvo que una reunión aporte más valor.\n",
        "options": {
          "systemMessage": "=Sos “Luna”, el asistente oficial de Grupo DTE por WhatsApp.\n\nEl usuario ES CLIENTE ACTIVO (is_client = true).\n\nDatos del cliente:\n- Nombre: {{ $('Get many rows').item.json.full_name }}\n- Empresa: {{ $('Get many rows').item.json.company_name }}\n- Email: {{ $('Get many rows').item.json.email }}\n- Teléfono: {{ $('Get many rows').item.json.phone }}\n- client_id: {{ $('Get many rows').item.json.id }}\n\nTu rol NO es solo responder consultas.\nActuás como consultora senior de proyectos y negocio de Grupo DTE.\n\n━━━━━━━━━━━━━━━━━━━━\nOBJETIVO PRINCIPAL\n━━━━━━━━━━━━━━━━━━━━\nAcompañar al cliente de forma cercana, profesional y estratégica.\n\nTu objetivo es:\n- Entender qué necesita realmente.\n- Responder por WhatsApp cuando sea posible.\n- Ordenar ideas.\n- Proponer próximos pasos claros.\n- Sugerir una reunión SOLO cuando agregue valor.\n\n━━━━━━━━━━━━━━━━━━━━\nCÓMO PENSAR ANTES DE RESPONDER (OBLIGATORIO)\n━━━━━━━━━━━━━━━━━━━━\nAntes de escribir, evaluá internamente:\n\n1) ¿Esto se puede responder bien por WhatsApp?\n→ Respondé claro, directo y accionable.\n\n2) ¿Es una idea nueva relacionada con su negocio o marca?\n→ Validala conceptualmente.\n→ Hacé 1 pregunta concreta para entender mejor.\n→ NO la rechaces por no estar en proyectos actuales.\n\n3) ¿Implica definición de alcance, estrategia, costos o decisiones importantes?\n→ Explicá brevemente.\n→ Proponé coordinar una llamada corta.\n\n4) ¿Hay más de un proyecto o frente posible?\n→ Pedí que elija antes de profundizar.\n\n━━━━━━━━━━━━━━━━━━━━\nREGLAS CLAVE\n━━━━━━━━━━━━━━━━━━━━\n- Podés hablar de:\n  • proyectos activos\n  • ideas nuevas relacionadas\n  • mejoras, automatizaciones, campañas, rediseños\n- NO inventes estados, precios, tareas ni fechas.\n- Si algo aún no es proyecto, tratálo como “idea en exploración”.\n- Si falta info, hacé UNA sola pregunta clara.\n- Nunca bloquees al cliente con frases tipo:\n  “eso no está en tus proyectos”.\n\nEn vez de eso usá:\n“Lo podemos ver, dejame entender un poco mejor…”\n\n━━━━━━━━━━━━━━━━━━━━\nAGENDA (USO DE TOOLS)\n━━━━━━━━━━━━━━━━━━━━\nProponé reunión SOLO si:\n- el tema no se puede cerrar bien por texto\n- hay decisiones importantes\n- hay que definir alcance o estrategia\n\nFlujo correcto:\n1) Consultar disponibilidad (consultar_disponibilidad)\n2) Proponer 2–3 horarios concretos (hora Uruguay)\n3) Espe\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -17968,
        976
      ],
      "id": "5bcd4c15-3c1d-4e63-854f-ebfef7e06014",
      "name": "AGENTEAI",
      "retryOnFail": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cZfj951LSb98Izny",
          "mode": "list",
          "cachedResultUrl": "/workflow/cZfj951LSb98Izny",
          "cachedResultName": "My workflow 3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Edit Fields1').item.json.phone }}",
            "user_name": "={{ $('Edit Fields1').item.json.nombre }}",
            "user_id": "={{ $('Edit Fields1').item.json.phone }}",
            "query": "={{ $('Unified M').item.json.contact_message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "user_name",
              "displayName": "user_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -18512,
        672
      ],
      "id": "973485c8-50cb-4433-8c10-c24c22a4a4da",
      "name": "Call 'My workflow 3'"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Unified M').item.json.sessionid }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -18048,
        656
      ],
      "id": "b5716afa-c766-4867-bc0c-7d563fbe74b4",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "l7PC5KDYAVZDrVq7",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "la imagen es un comprobante de una transaccion realizada, necesito que tomes los datos importantes para verificar la transaccion y que el agente ai agrege correctamente el comprobante al registrar la transaccion",
        "imageUrls": "={{ $('data_message_extraction').item.json.img }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -23152,
        1184
      ],
      "id": "0aca88b8-3587-431b-9a07-20c6facf6893",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "t70Rh7c42YOwgYM5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"description\": \"Array of split messages in natural conversation format\",\n      \"items\": {\n        \"type\": \"string\"\n      },\n      \"minItems\": 1\n    }\n  },\n  \"required\": [\"messages\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -16752,
        416
      ],
      "id": "9ec17526-81e2-431c-9c75-ef4229932619",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "773235c7-6aa4-4a4b-b096-8548a7076762",
              "name": "contact_message",
              "value": "={{ $json.data.map(d => d.Mensaje) }}\n",
              "type": "string"
            },
            {
              "id": "9b4052bd-38c1-4a79-abdd-e690c30e8ce9",
              "name": "sessionid",
              "value": "={{ $('Edit Fields1').item.json.phone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -18992,
        976
      ],
      "id": "3ff22829-656a-468b-b4f1-32ed3400723e",
      "name": "Unified M"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.all();\nlet factsText = '';\n\nfor (const item of inputData) {\n  try {\n    const parsedData = JSON.parse(item.json.data);\n    const facts = parsedData.edges.map(edge => edge.fact);\n    const formattedFacts = facts\n      .map((fact, index) => `Fact${index + 1}: ${fact}`)\n      .join('\\n');\n    factsText += formattedFacts + '\\n\\n';\n  } catch (error) {\n    console.error('Error procesando facts:', error);\n    continue;\n  }\n}\n\nreturn [\n  {\n    json: {\n      factsText: factsText.trim() || 'Sin hechos relevantes'\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -18368,
        976
      ],
      "id": "557ae801-ebbe-4399-bef8-91c0dacfcd7c",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.getzep.com/api/v2/graph/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zepApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ String($('Unified M').item.json.contact_message ?? '').trim() }}\",\n  \"user_id\": \"{{ String($('Unified M').item.json.sessionid ?? '') }}\",\n  \"limit\": 10,\n  \"min_fact_rating\": 0.7,\n  \"reranker\": \"cross_encoder\",\n  \"scope\": \"edges\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -18512,
        976
      ],
      "id": "8bc63455-d9bb-45f3-95c0-a3f9f7006b53",
      "name": "buscar dato",
      "executeOnce": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "tvCT1Y14EBhzLLlE",
          "name": "Header Auth account 2"
        },
        "zepApi": {
          "id": "yyVFvca9fUbn7UwO",
          "name": "Zep Api account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.getzep.com/api/v2/users",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zepApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $json.sessionid }}"
            },
            {
              "name": "first_name",
              "value": "={{ $('Edit Fields1').item.json.nombre }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -18688,
        976
      ],
      "id": "ecad0d51-1523-48de-afe7-37dfdc61729f",
      "name": "crear usuario",
      "executeOnce": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "tvCT1Y14EBhzLLlE",
          "name": "Header Auth account 2"
        },
        "zepApi": {
          "id": "yyVFvca9fUbn7UwO",
          "name": "Zep Api account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -17904,
        640
      ],
      "id": "2f83bb5e-010a-4be3-91d8-64ce6a3817b7",
      "name": "Think"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -15264,
        592
      ],
      "id": "8e2b1d4e-3513-464f-9b3e-81e8dc39f101",
      "name": "Wait1",
      "webhookId": "a8386d12-e4ef-4764-a2a2-e56f7b273573"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -16000,
        528
      ],
      "id": "09817489-09ed-45ed-8e61-9ab514eb702b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst result = [];\n\nitems.forEach(item => {\n  const output = item.json?.output || item.json || {};\n  \n  // Nuevo formato: array de mensajes\n  if (output.messages && Array.isArray(output.messages)) {\n    output.messages.forEach(message => {\n      result.push({\n        json: {\n          message: message\n        }\n      });\n    });\n  }\n  // Fallback: formato viejo por si acaso\n  else {\n    let i = 1;\n    while (output[`message${i}`]) {\n      result.push({\n        json: {\n          message: output[`message${i}`]\n        }\n      });\n      i++;\n    }\n  }\n});\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16512,
        608
      ],
      "id": "21fdcae6-4c1a-4f93-a30e-a94f9d24d07b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16864,
        416
      ],
      "id": "cb885d3f-50a2-403f-b254-1fce6da77f32",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "t70Rh7c42YOwgYM5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Message to split: {{ $json.output }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "Resumi y reescribí y dividí el siguiente mensaje largo de WhatsApp en 2 o 3 mensajes naturales, cancheros tal como lo haría una persona real en una conversación fluida.\n\nInstrucciones:\n\nMantené el tono cálido, cercano y humano de Luna.\n\nEvitá cualquier formato técnico, etiquetas o numeraciones como \"parte 1/2\".\n\nLa división debe sentirse orgánica, con pausas naturales entre ideas.\n\nPodés generar tantos mensajes como necesites para que la conversación suene auténtica.\n\nTexto original:\n{{ $json.output }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -16912,
        576
      ],
      "id": "a7cc695f-c117-46a1-8072-9f3f4c01632d",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ade27a63-7e0e-4e6b-8bb4-88eb5d67dad8",
              "leftValue": "={{ $json.output.length }}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -17328,
        544
      ],
      "id": "ee9bcdd9-ce68-484e-b51e-32b864d961bb",
      "name": "If2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bc04d7a6-8169-4a81-befc-55e22f1c8d2f",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "17caa545-9221-42d7-acdb-13c761942210",
              "name": "tipo_mensaje",
              "value": "={{ $('Edit Fields1').item.json.type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -22848,
        992
      ],
      "id": "de60b4d9-9944-4fb1-816b-2b93a86b4406",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aefd46d4-200e-44ca-96c8-d502b0d22548",
              "name": "final_message",
              "value": "={{\n  $json.text ? $json.text :\n  $json.final_message ? $json.final_message :\n  $('Edit Fields1').item.json.mensaje\n}}",
              "type": "string"
            },
            {
              "id": "be1b92d0-db1a-470d-a930-160b245c1e8f",
              "name": "phone",
              "value": "={{ $('Edit Fields1').item.json.phone }}",
              "type": "string"
            },
            {
              "id": "d05b0e22-13c9-49bc-bde6-f337a5566100",
              "name": "=time",
              "value": "=\n{{ $('Edit Fields1').item.json.time }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -22480,
        896
      ],
      "id": "893a48af-ed24-4935-ad4d-48378728a5c1",
      "name": "Unify Message"
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.entry[0].changes[0].value.messages[0].audio.url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "whatsAppApi",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -23152,
        992
      ],
      "id": "49d2d083-114d-4aaf-abdd-9f17086e07f7",
      "name": "Descargar audio",
      "credentials": {
        "whatsAppApi": {
          "id": "hZQ3W9tW46WOw5mV",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -22992,
        992
      ],
      "id": "62660210-ccb1-4caf-b58f-93f21359391d",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "t70Rh7c42YOwgYM5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e1f5aa2c-d785-4f74-a6b4-0e1825c504c0",
                    "leftValue": "={{ $('If1').item.json.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f419b6c9-fe67-4311-b6e7-0825ae81153f",
                    "leftValue": "={{ $('If1').item.json.type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -23472,
        976
      ],
      "id": "b103f28d-b3df-4043-a014-3761935af735",
      "name": "Switch1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -17888,
        832
      ],
      "id": "d66f28df-4762-4e8c-8870-1c4b2137d064",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "t70Rh7c42YOwgYM5",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// items[0].json.message suele ser un array con strings JSON\nconst raw = items[0].json.message ?? [];\n\n// Parsea cada string JSON de Redis y extrae el campo \"message\"\nconst parts = raw\n  .map((s) => {\n    try {\n      const obj = typeof s === \"string\" ? JSON.parse(s) : s;\n      return (obj?.message ?? \"\").toString().trim();\n    } catch (e) {\n      // Si no es JSON válido, igual lo usamos como texto\n      return (s ?? \"\").toString().trim();\n    }\n  })\n  .filter(Boolean);\n\n// Une los mensajes con salto de línea doble (cambiá el separador si querés)\nconst contact_message = parts.join(\"\\n\\n\");\n\n// También podés quedarte con el sessionid del primero que aparezca\nlet sessionid = \"\";\nfor (const s of raw) {\n  try {\n    const obj = typeof s === \"string\" ? JSON.parse(s) : s;\n    if (obj?.sessionid) {\n      sessionid = String(obj.sessionid);\n      break;\n    }\n  } catch {}\n}\n\nreturn [\n  {\n    json: {\n      contact_message,\n      sessionid,\n      // opcional: para debug\n      message_parts: parts,\n      message_count: parts.length,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -20784,
        928
      ],
      "id": "4a5ead1a-e8f7-4de7-b55c-c0e778cc57b6",
      "name": "Code in JavaScript8"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f3394a09-7978-4e0f-ba2e-14aae703fd43",
                    "leftValue": "={{ new Date(Number($('Edit Fields1').item.json.time) * 1000) }}\n",
                    "rightValue": "={{ new Date(Date.now() - 15000) }}\n",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Seguir"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Esperar"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -21296,
        928
      ],
      "id": "41072679-34f8-4b02-a15c-6a44ff9a083a",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=59897080108"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -20992,
        928
      ],
      "id": "26b5cfa5-88f1-49ea-81f9-c64f0a876e3f",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "oysREHyfI9MO32y8",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('Edit Fields1').item.json.phone }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -21472,
        928
      ],
      "id": "9c7e1c08-df57-4c27-a666-0b9089923443",
      "name": "Redis6",
      "credentials": {
        "redis": {
          "id": "oysREHyfI9MO32y8",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Edit Fields1').item.json.phone }}",
        "messageData": "={{ JSON.stringify({\n  message: $('Edit Fields1').item.json.mensaje,\n  sessionid: $('Edit Fields1').item.json.phone,\n  session_id: $('Edit Fields1').item.json.phone,\n  datatime: $('Edit Fields1').item.json.time,\n  datetime_utc_minus_3: DateTime.fromSeconds(Number($('Edit Fields1').item.json.time), { zone: 'utc' }).setZone('America/Montevideo').toISO()\n}) }}\n",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -21664,
        928
      ],
      "id": "f3ee400e-e8d2-4bc9-8f0b-53f335588dab",
      "name": "push buffer",
      "credentials": {
        "redis": {
          "id": "oysREHyfI9MO32y8",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -21104,
        1056
      ],
      "id": "0db60016-534c-4f4d-96de-e1b2b5481919",
      "name": "Wait",
      "webhookId": "e2e9ddda-bfbe-46ea-b379-7451a6aaa71b"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "dte-n8n.xqnwvv.easypanel.host",
            "user-agent": "node",
            "content-length": "465",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "184.72.107.196",
            "x-forwarded-host": "dte-n8n.xqnwvv.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "93d58826bca7",
            "x-real-ip": "184.72.107.196",
            "x-vercel-id": "cle1::5wxsc-1768141048873-05da0b5adaa1",
            "x-webhook-source": "grupodte-whatsapp"
          },
          "params": {},
          "query": {},
          "body": {
            "object": "whatsapp_business_account",
            "entry": [
              {
                "id": "754659747146606",
                "changes": [
                  {
                    "value": {
                      "messaging_product": "whatsapp",
                      "metadata": {
                        "display_phone_number": "59896280674",
                        "phone_number_id": "754662787729091"
                      },
                      "contacts": [
                        {
                          "profile": {
                            "name": "F"
                          },
                          "wa_id": "59897080108"
                        }
                      ],
                      "messages": [
                        {
                          "from": "59897080108",
                          "id": "wamid.HBgLNTk4OTcwODAxMDgVAgASGBYzRUIwNjA3REEwNzIwRkQxRTVFRkYzAA==",
                          "timestamp": "1768141048",
                          "text": {
                            "body": "hola"
                          },
                          "type": "text"
                        }
                      ]
                    },
                    "field": "messages"
                  }
                ]
              }
            ]
          },
          "webhookUrl": "https://dte-n8n.xqnwvv.easypanel.host/webhook/679184f0-05de-4148-a368-238a29f3edf9",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "Unified M2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es cliente2": {
      "main": [
        [
          {
            "node": "Get many rows2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows2": {
      "main": [
        [
          {
            "node": "Switch5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar_lead_google_sheets2": {
      "ai_tool": [
        [
          {
            "node": "AGENTEAI1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_disponibilidad2": {
      "ai_tool": [
        [
          {
            "node": "AGENTEAI1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "crear_cita2": {
      "ai_tool": [
        [
          {
            "node": "AGENTEAI1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Convert text to speech2": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGENTEAI1": {
      "main": [
        [
          {
            "node": "Call 'My workflow 3'2",
            "type": "main",
            "index": 0
          },
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "AGENTEAI1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image2": {
      "main": [
        [
          {
            "node": "Unify Message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unified M2": {
      "main": [
        [
          {
            "node": "crear usuario2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "AGENTEAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar dato2": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crear usuario2": {
      "main": [
        [
          {
            "node": "buscar dato2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think2": {
      "ai_tool": [
        [
          {
            "node": "AGENTEAI1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert text to speech2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Unify Message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unify Message2": {
      "main": [
        [
          {
            "node": "push buffer2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar audio2": {
      "main": [
        [
          {
            "node": "Transcribe a recording2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch5": {
      "main": [
        [
          {
            "node": "Unify Message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descargar audio2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Redis5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis5": {
      "main": [
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AGENTEAI1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis4": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push buffer2": {
      "main": [
        [
          {
            "node": "Redis4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "Redis4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es cliente": {
      "main": [
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Es cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Es cliente2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "guardar_lead_google_sheets": {
      "ai_tool": [
        [
          {
            "node": "AGENTEAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_disponibilidad": {
      "ai_tool": [
        [
          {
            "node": "AGENTEAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "crear_cita": {
      "ai_tool": [
        [
          {
            "node": "AGENTEAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AGENTEAI": {
      "main": [
        [
          {
            "node": "Call 'My workflow 3'",
            "type": "main",
            "index": 0
          },
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AGENTEAI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "Unify Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unified M": {
      "main": [
        [
          {
            "node": "crear usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AGENTEAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar dato": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crear usuario": {
      "main": [
        [
          {
            "node": "buscar dato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AGENTEAI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert text to speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Unify Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unify Message": {
      "main": [
        [
          {
            "node": "push buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar audio": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Unify Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Descargar audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AGENTEAI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Code in JavaScript8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis6": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "push buffer": {
      "main": [
        [
          {
            "node": "Redis6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript8": {
      "main": [
        [
          {
            "node": "Unified M",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "f24514b9-ee5c-4ba6-a786-1250eb7114af",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9bfaf343ffce6b3c787d113485b2e99d7cc301bba6cf9055ccd6056bcf02dfeb"
  },
  "id": "IGZtx3o8Z6fZH9t5",
  "tags": []
}
